USE [db_Nagapetyan]
GO
/****** Object:  Table [dbo].[category_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_tables](
	[id_category] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_category_tables] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city_tables](
	[id_city] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_city_tables] PRIMARY KEY CLUSTERED 
(
	[id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person_tables](
	[id_person] [int] NOT NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_person_tables] PRIMARY KEY CLUSTERED 
(
	[id_person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_tables](
	[id_request] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[send_date] [nvarchar](255) NULL,
	[price] [float] NULL,
	[id_person] [int] NULL,
	[id_city] [int] NULL,
	[id_category] [int] NULL,
	[id_type] [int] NULL,
	[id_status] [int] NULL,
 CONSTRAINT [PK_request_tables] PRIMARY KEY CLUSTERED 
(
	[id_request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_tables](
	[id_status] [int] NOT NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_status_tables] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_tables]    Script Date: 31.05.2025 17:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_tables](
	[id_table] [int] NOT NULL,
	[type] [nvarchar](255) NULL,
 CONSTRAINT [PK_type_tables] PRIMARY KEY CLUSTERED 
(
	[id_table] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[category_tables] ([id_category], [name]) VALUES (1, N'Авто')
INSERT [dbo].[category_tables] ([id_category], [name]) VALUES (2, N'Электроника')
INSERT [dbo].[category_tables] ([id_category], [name]) VALUES (3, N'Недвижимость')
GO
INSERT [dbo].[city_tables] ([id_city], [name]) VALUES (1, N'Новосибирск')
INSERT [dbo].[city_tables] ([id_city], [name]) VALUES (2, N'Санкт-Петербург')
INSERT [dbo].[city_tables] ([id_city], [name]) VALUES (3, N'Москва')
GO
INSERT [dbo].[person_tables] ([id_person], [login], [password]) VALUES (1, N'sergey78', N'pass789')
INSERT [dbo].[person_tables] ([id_person], [login], [password]) VALUES (2, N'anna456', N'qwerty456')
INSERT [dbo].[person_tables] ([id_person], [login], [password]) VALUES (3, N'ivan123', N'pass123')
GO
INSERT [dbo].[request_tables] ([id_request], [title], [description], [send_date], [price], [id_person], [id_city], [id_category], [id_type], [id_status]) VALUES (1, N'Аренда авто', N'Почасовая аренда, документы в порядке', N'2025-03-24', 19555, 1, 1, 1, 1, 1)
INSERT [dbo].[request_tables] ([id_request], [title], [description], [send_date], [price], [id_person], [id_city], [id_category], [id_type], [id_status]) VALUES (2, N'Ноутбук Acer', N'Core i7, SSD 512 ГБ, как новый', N'2025-03-13', 17006, 2, 2, 2, 1, 1)
INSERT [dbo].[request_tables] ([id_request], [title], [description], [send_date], [price], [id_person], [id_city], [id_category], [id_type], [id_status]) VALUES (3, N'Ноутбук Acer', N'Core i7, SSD 512 ГБ, как новый', N'2025-05-04', 19539, 1, 3, 2, 2, 1)
GO
INSERT [dbo].[status_tables] ([id_status], [status]) VALUES (1, N'Завершено')
INSERT [dbo].[status_tables] ([id_status], [status]) VALUES (2, N'Активно')
GO
INSERT [dbo].[type_tables] ([id_table], [type]) VALUES (1, N'Продажа')
INSERT [dbo].[type_tables] ([id_table], [type]) VALUES (2, N'Услуга')
INSERT [dbo].[type_tables] ([id_table], [type]) VALUES (3, N'Аренда')
GO
ALTER TABLE [dbo].[request_tables]  WITH CHECK ADD  CONSTRAINT [FK_request_tables_category_tables] FOREIGN KEY([id_category])
REFERENCES [dbo].[category_tables] ([id_category])
GO
ALTER TABLE [dbo].[request_tables] CHECK CONSTRAINT [FK_request_tables_category_tables]
GO
ALTER TABLE [dbo].[request_tables]  WITH CHECK ADD  CONSTRAINT [FK_request_tables_city_tables] FOREIGN KEY([id_city])
REFERENCES [dbo].[city_tables] ([id_city])
GO
ALTER TABLE [dbo].[request_tables] CHECK CONSTRAINT [FK_request_tables_city_tables]
GO
ALTER TABLE [dbo].[request_tables]  WITH CHECK ADD  CONSTRAINT [FK_request_tables_person_tables] FOREIGN KEY([id_person])
REFERENCES [dbo].[person_tables] ([id_person])
GO
ALTER TABLE [dbo].[request_tables] CHECK CONSTRAINT [FK_request_tables_person_tables]
GO
ALTER TABLE [dbo].[request_tables]  WITH CHECK ADD  CONSTRAINT [FK_request_tables_status_tables] FOREIGN KEY([id_status])
REFERENCES [dbo].[status_tables] ([id_status])
GO
ALTER TABLE [dbo].[request_tables] CHECK CONSTRAINT [FK_request_tables_status_tables]
GO
ALTER TABLE [dbo].[request_tables]  WITH CHECK ADD  CONSTRAINT [FK_request_tables_type_tables] FOREIGN KEY([id_type])
REFERENCES [dbo].[type_tables] ([id_table])
GO
ALTER TABLE [dbo].[request_tables] CHECK CONSTRAINT [FK_request_tables_type_tables]
GO
